* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(236, 232, 232);
}
.main-section {
  display: grid;
  margin: 150px 400px;
  grid-template-rows: auto 1fr;
}
.title-div {
  display: grid;
  font-size: xx-large;
  color: rgb(61, 61, 190);
  height: 60px;
  font-weight: 500;
  border-radius: 10px;
  padding: 15px;
}
.flights-footer {
  display: grid;
  grid-template-columns: repeat(autofill, inherit);
  gap: 40px;
  margin-top: 60px;
}
.flights-footer div {
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: rgba(39, 31, 31, 0.212);
  padding: 25px 35px;
  height: 170px;
  border-radius: 5px;
  color: rgb(14, 11, 37);
}
.first-section {
  display: grid;
  gap: 1rem;
}
.first-section nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10rem;
}
.yes-no {
  position: relative;
  background-color: rgb(202, 131, 50);
  top: 40%;
  left: 37%;
  z-index: +2;
  display: grid;
  justify-self: center;
  gap: 3rem;
  width: max-content;

  padding: 10px;
}
.yes-no div {
  width: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}
